body{margin:0;padding:0;color:#0f0!important;background:#000;font-family:PT Sans, sans-serif;line-height:26px}
header{text-align:center;background:#000}
header a:hover{color:#000!important}
.call-to-action{box-shadow:inset 0px 34px 0px -15px #b54b3a;background-color:#a73f2d;border-radius:10px;border:1px solid #241d13;display:inline-block;cursor:pointer;color:#ffffff;font-family:Arial;font-size:20px;font-weight:bold;padding:9px 23px;text-decoration:none;text-shadow:3px 3px 0px #7a2a1d}
.call-to-action:hover{background-color:#b34332;box-shadow:inset 0px 34px 0px -15px #b54b3a;background-color:#a73f2d;border-radius:10px;border:1px solid #241d13;display:inline-block;cursor:pointer;color:#ffffff;font-family:Arial;font-size:20px;font-weight:bold;padding:9px 23px;text-decoration:none;text-shadow:3px 3px 0px #7a2a1d}
.call-to-action:active{position:relative;top:1px}
p{margin:10px 0 20px}
p a{color:#fff;text-decoration:underline;overflow-wrap:break-word;}
li a{color:#fff;text-decoration:underline}
.linkstyle{color:#fff;text-decoration:underline}
mark{background-color:yellow}
a{color:#0f0;text-decoration:none}
a[href^=tel]{color:black!important;font:inherit!important}
.indent{padding-left:20px}
.indent2{padding-left:40px}
.cod{overflow-wrap:break-word;color:#fff;background-color:#00f;border:1px solid #fff;padding:2px;border-radius:4px}
.quote{margin-left:40px}
#references{text-indent: -36px; padding-left: 36px}
.red{color:#f00}
pre{padding:2px;background-color:#00f;color:#fff;border:1px solid #fff}
hr{border-top:1px solid #0f0;border-bottom:1px solid #0f0}
.nested-ordered-list ol{counter-reset:item}
.nested-ordered-list li{display:block}
.nested-ordered-list li:before{content:counters(item, ".") ". ";counter-increment:item}
.nested-ordered-list td{vertical-align:top}
.black{color:#0f0!important}
.white{color:#fff}
.bold{font-weight:bold!important}
.underline{text-decoration:underline}
.italic{font-style:italic}
.resetlink{font:inherit!important;color:blue!important}
.floatleft{float:left}
.margintop25{margin-top:25px}
.marginbottom25{margin-bottom:25px}
.margintop15{margin-top:15px}
.marginbottom0{margin-bottom:0}
.clearboth{clear:both}
.apa-reference{padding-left:36px;text-indent:-36px}
.apa-reference a{text-decoration:underline}
.apa-reference a{color:#fff}
.container{padding: 0 14px}
.container img{padding-right:5px}
.container h1, .container-home h1, .container-running h1, .container-weight h1{display:inline-block;font:1.3em Arial;font-weight:500;margin-bottom:8px;margin-top:0}
.container a:hover{color:#0f0!important}
.container-home a{color:#fff;text-decoration:underline}
.container-home img{padding-right:5px}
.container-finances, .container-home, .container-running, .container-weight{margin:0 8px}
.container-finances h1{font-size:1.5em;font-family:Arial,Helvetica,sans-serif;font-weight:bold}
.container-finances select{padding:5px}
.container-finances input[type=text], input[type=password] {width:100%;padding:5px;margin:8px 0;display:inline-block;border:1px solid #ccc;box-sizing:border-box}
.container-finances button{background-color:#04AA6D;color:white;padding:10px 20px;margin:8px 0;border:none;cursor:pointer;width:100%;font-size:0.9em}
.container-finances	button:hover{opacity:0.8}
.container-finances .cancelbtn{width:auto;padding:10px 18px;background-color:#f44336}
.container-finances .imgcontainer{text-align:center;margin:24px 0 12px 0;position:relative}
.container-finances .container{padding:16px;color:#0f0}
.container-finances .container a{color:#04AA6D}
.container-finances .modal{display:none;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;overflow:auto;background-color: rgb(0,0,0);background-color:rgba(0,0,0,0.4);padding-top:60px}
.container-finances .modal-content{background-color:#fefefe;margin:5% auto 15%;border:1px solid #888;width: 80%}
.container-finances .close{position:absolute;right:25px;top:0;color:#0f0;font-size:35px;font-weight:bold}
.container-finances	.close:hover,.close:focus{color:red;cursor:pointer}
.container-finances	.animate{-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
.container-finances	@-webkit-keyframes animatezoom{from {-webkit-transform: scale(0)} to {-webkit-transform: scale(1)}}		  
.container-finances @keyframes animatezoom{from {transform: scale(0)} to {transform: scale(1)}}
.container-finances @media screen and (max-width: 300px){span.psw{display:block;float:none}.cancelbtn{width:100%}}
.container-finances #submit{background-color:#04AA6D;color:white;padding:10px 20px;margin:8px 0;border:none;cursor:pointer;width:auto;font-size:0.9em}
.container-finances	#submit:hover{opacity:0.8}
.imgcontainer .logo a{color:#04AA6D!important}
.widthauto{width:auto!important}
.logo{padding-top:15px}
.logo a{font:20px/20px Carter One;color:#0f0!important;text-decoration:none;font-size:35px}
.logo a:hover{color:#0f0!important}
nav{background:#000}
nav ul{list-style-type:none;margin:10px 0 0;padding:0}
nav li{display:inline-block;font-size:30px;color:#afafaf}
nav li a{display:block;color:#0f0;text-align:center;padding:5px 40px;text-decoration:none}
nav li a:hover{color:#afafaf;background-color:#0f0;text-decoration:none}
.breadcrumb-block{background-color:#000;margin:15px 0;padding:0;list-style-type:none}
.breadcrumb-block a:hover{color:#0f0!important}
.resumeh2{font-family:Arial;font-size:1em}
.center{text-align:center}
.book{display:flex;flex-direction:row;margin-top:14px}
.book .book-thumbnail{text-decoration:none}
.book > .book-thumbnail:first-child{display:flex;align-self:center;flex-basis:49%;height:80px;max-width:88px}
.book-cover{align-items:center;background-color:transparent;background-repeat:no-repeat;background-size:contain;display:flex;flex:0 1 auto;justify-content:center;max-height:144px;max-width:84px;min-width:84px;position:relative;width:100%;}
.book-title-authors-read-by{flex-grow:2;margin-left:16px;padding-top:10px}
.book-title-authors-read-by span:first-child{display:inline-block;font:20px/20px Guardian Text Sans;font-weight:500;margin-bottom:8px;margin-top:0}
.book-title-authors-read-by p{font:12px/14px Guardian Text Sans\ 2,sans-serif;margin-top:0}
#no-photo-available-img{background-image:url('blog/2023/09/21/18/09/img/no-photo-available-thumb.jpg')}
#coursera-explore-core-data-concepts-microsoft-azure-img{background-image:url('coursera/explore-core-data-concepts-microsoft-azure/img/explore-core-data-concepts-microsoft-azure-thumb.jpg')}
#coursera-ielts-writing-img{background-image:url('coursera/ielts-writing/img/ielts-writing-thumb.jpg')}
#coursera-introduction-to-marketing-img{background-image:url('coursera/introduction-to-marketing/img/introduction-to-marketing-thumb.jpg')}
#opinion-20250114-1026-img{background-image:url('opinion/2025/01/14/10/26/img/20250114-1026-thumb.jpg')}
#opinion-20250113-1400-img{background-image:url('opinion/2025/01/13/14/00/img/20250113-1400-thumb.jpg')}
#opinion-20250112-0423-img{background-image:url('opinion/2025/01/12/04/23/img/20250112-0423-thumb.jpg')}
#opinion-20250111-0022-img{background-image:url('opinion/2025/01/11/00/22/img/20250111-0022-thumb.jpg')}
#opinion-20250110-0424-img{background-image:url('opinion/2025/01/10/04/24/img/20250110-0424-thumb.jpg')}
#opinion-20250109-0254-img{background-image:url('opinion/2025/01/09/02/54/img/20250109-0254-thumb.jpg')}
#opinion-20250108-0334-img{background-image:url('opinion/2025/01/08/03/34/img/20250108-0334-thumb.jpg')}
#opinion-20250107-0016-img{background-image:url('opinion/2025/01/07/00/16/img/20250107-0016-thumb.jpg')}
#opinion-20250106-2007-img{background-image:url('opinion/2025/01/06/20/07/img/20250106-2007-thumb.jpg')}
#opinion-20250105-1430-img{background-image:url('opinion/2025/01/05/14/30/img/20250105-1430-thumb.jpg')}
#opinion-20250104-0125-img{background-image:url('opinion/2025/01/04/01/25/img/20250104-0125-thumb.jpg')}
#opinion-20250103-0142-img{background-image:url('opinion/2025/01/03/01/42/img/20250103-0142-thumb.jpg')}
#opinion-20250102-1602-img{background-image:url('opinion/2025/01/02/16/02/img/20250102-1602-thumb.jpg')}
#opinion-20250101-2133-img{background-image:url('opinion/2025/01/01/21/33/img/20250101-2133-thumb.jpg')}
#opinion-20241231-0632-img{background-image:url('opinion/2024/12/31/06/32/img/20241231-0632-thumb.jpg')}
#opinion-20241230-2147-img{background-image:url('opinion/2024/12/30/21/47/img/20241230-2147-thumb.jpg')}
#news-20241113-2239-img{background-image:url('news/2024/11/13/22/39/img/20241113-2239-thumb.jpg')}
#news-20241111-2213-img{background-image:url('news/2024/11/11/22/13/img/20241111-2213-thumb.jpg')}
#news-20241107-0000-img{background-image:url('news/2024/11/07/00/00/img/20241107-0000-thumb.jpg')}
#blog-20241221-0427-img{background-image:url('blog/2024/12/21/04/27/img/20241221-0427-thumb.jpg')}
#blog-20240503-1618-img{background-image:url('blog/2024/05/03/16/18/img/20240503-1618-thumb.jpg')}
#blog-20240422-2051-img{background-image:url('blog/2024/04/22/20/51/img/20240422-2051-thumb.jpg')}
#blog-20240315-1153-img{background-image:url('blog/2024/03/15/11/53/img/20240315-1153-thumb.jpg')}
#blog-20240112-0649-img{background-image:url('blog/2024/01/12/06/49/img/20240112-0649-thumb.jpg')}
#blog-20240111-0615-img{background-image:url('blog/2024/01/11/06/15/img/20240111-0615-thumb.jpg')}
#blog-20231231-0614-img{background-image:url('blog/2023/12/31/06/14/img/20231231-0614-thumb.jpg')}
#blog-20231217-1141-img{background-image:url('blog/2023/12/17/11/41/img/20231217-1141-thumb.jpg')}
#blog-20231212-0559-img{background-image:url('blog/2023/12/12/05/59/img/20231212-0559-thumb.jpg')}
#blog-20231210-0559-img{background-image:url('blog/2023/12/10/05/59/img/20231210-0559-thumb.jpg')}
#blog-20231129-0248-img{background-image:url('blog/2023/11/29/02/48/img/20231129-0248-thumb.jpg')}
#blog-20231125-1700-img{background-image:url('blog/2023/11/25/17/00/img/20231125-1700-thumb.jpg')}
#blog-20231121-0220-img{background-image:url('blog/2023/11/21/02/20/img/20231121-0220-thumb.jpg')}
#blog-20231117-1308-img{background-image:url('blog/2023/11/17/13/08/img/20231117-1308-thumb.jpg')}
#blog-20231017-2321-img{background-image:url('blog/2023/10/17/23/21/img/20231017-2321-thumb.jpg')}
#stock-investing-for-dummies-img{background-image:url('reading/stock-investing-for-dummies/img/stock-investing-for-dummies-thumb.jpg')}
#academic-writing-for-graduate-students-img{background-image:url('reading/academic-writing-for-graduate-students/img/academic-writing-for-graduate-students-thumb.jpg')}
#systematic-theology-2nd-introduction-biblical-doctrine-img{background-image:url('reading/systematic-theology-2nd-introduction-biblical-doctrine/img/systematic-theology-2nd-introduction-biblical-doctrine-thumb.jpg')}
#amplified-bible-img{background-image:url('reading/amplified-bible/img/amplified-bible-thumb.jpg')}
#sticky-teams-img{background-image:url('reading/sticky-teams/img/sticky-teams-thumb.jpg')}
#the-psychology-of-money-img{background-image:url('reading/the-psychology-of-money/img/the-psychology-of-money-thumb.jpg')}
#rich-dads-guide-investing-img{background-image:url('reading/rich-dads-guide-investing/img/rich-dads-guide-investing-thumb.jpg')}
#investing-for-dummies-9th-edition-img{background-image:url('reading/investing-for-dummies-9th-edition/img/investing-for-dummies-9th-edition-thumb.jpg')}
#the-bible-for-dummies-for-dummies-lifestyle-img{background-image:url('reading/the-bible-for-dummies-for-dummies-lifestyle/img/the-bible-for-dummies-for-dummies-lifestyle-thumb.jpg')}
#rich-dad-s-cashflow-quadrant-rich-dad-s-guide-to-financial-freedom-img{background-image:url('reading/rich-dad-s-cashflow-quadrant-rich-dad-s-guide-to-financial-freedom/img/rich-dad-s-cashflow-quadrant-rich-dad-s-guide-to-financial-freedom-thumb.jpg')}
#beyond-order-12-more-rules-for-life-img{background-image:url('reading/beyond-order-12-more-rules-for-life/img/beyond-order-12-more-rules-for-life-thumb.jpg')}
#how-to-win-friends-and-influence-people-img{background-image:url('reading/how-to-win-friends-and-influence-people/img/how-to-win-friends-and-influence-people-thumb.jpg')}
#customer-centricity-img{background-image:url('reading/customer-centricity/img/customer-centricity-thumb.jpg')}
#the-10x-rule-img{background-image:url('reading/the-10x-rule/img/the-10x-rule-thumb.jpg')}
#the-richest-man-in-babylon-img{background-image:url('reading/the-richest-man-in-babylon/img/the-richest-man-in-babylon-thumb.jpg')}
#the-craft-of-research-3rd-ed-img{background-image:url('reading/the-craft-of-research-3rd-ed/img/the-craft-of-research-3rd-ed-thumb.jpg')}
#rich-dad-poor-dad-img{background-image:url('reading/rich-dad-poor-dad/img/rich-dad-poor-dad-thumb.jpg')}
#personal-finance-101-img{background-image:url('reading/personal-finance-101/img/personal-finance-101-thumb.jpg')}
#napoleon-a-life-img{background-image:url('reading/napoleon-a-life/img/napoleon-a-life-thumb.jpg')}
#blogging-for-dummies-img{background-image:url('reading/blogging-for-dummies/img/blogging-for-dummies-thumb.jpg')}
#book-12-rules-for-life-an-antidote-to-chaos-img{background-image:url('reading/12-rules-for-life-an-antidote-to-chaos/img/12-rules-for-life-an-antidote-to-chaos-thumb.jpg')}
#atomic-habits-img{background-image:url('reading/atomic-habits/img/atomic-habits-thumb.jpg')}
#the-7-habits-of-highly-effective-people-img{background-image:url('reading/the-7-habits-of-highly-effective-people/img/the-7-habits-of-highly-effective-people-thumb.jpg')}
#book-american-prometheus-img{background-image:url('reading/american-prometheus/img/american-prometheus-thumb.jpg')}
#how-not-to-diet-img{background-image:url('reading/how-not-to-diet/img/how-not-to-diet-thumb.jpg')}
#fire-in-the-valley-img{background-image:url('reading/fire-in-the-valley/img/fire-in-the-valley-thumb.jpg')}
#the-accidental-billionaires-img{background-image:url('reading/the-accidental-billionaires/img/the-accidental-billionaires-thumb.jpg')}
#think-learn-succeed-img{background-image:url('reading/think-learn-succeed/img/think-learn-succeed-thumb.jpg')}
#the-holy-bible-esv-img{background-image:url('reading/the-holy-bible-esv/img/the-holy-bible-esv-thumb.jpg')}
#mere-christianity-img{background-image:url('reading/mere-christianity/img/mere-christianity-thumb.jpg')}
#cleaning-up-your-mental-mess-img{background-image:url('reading/cleaning-up-your-mental-mess/img/cleaning-up-your-mental-mess-thumb.jpg')}
#endure-img{background-image:url('reading/endure/img/endure-thumb.jpg')}
#the-5-love-languages-img{background-image:url('reading/the-5-love-languages/img/the-5-love-languages-thumb.jpg')}
#boundaries-img{background-image:url('reading/boundaries/img/boundaries-thumb.jpg')}
#multiply-img{background-image:url('reading/multiply/img/multiply-thumb.jpg')}
#ielts-success-formula-general-img{background-image:url('reading/ielts-success-formula-general/img/ielts-success-formula-general-thumb.jpg')}
#the-amazon-way-img{background-image:url('reading/the-amazon-way/img/the-amazon-way-thumb.jpg')}
#the-dangers-of-a-shallow-faith-img{background-image:url('reading/the-dangers-of-a-shallow-faith/img/the-dangers-of-a-shallow-faith-thumb.jpg')}
#the-crucified-life-img{background-image:url('reading/the-crucified-life/img/the-crucified-life-thumb.jpg')}
#the-pursuit-of-god-img{background-image:url('reading/the-pursuit-of-god/img/the-pursuit-of-god-thumb.jpg')}
#sweat-think-go-faster-img{background-image:url('reading/sweat-think-go-faster/img/sweat-think-go-faster-thumb.jpg')}
#the-mental-training-guide-for-elite-athletes-img{background-image:url('reading/the-mental-training-guide-for-elite-athletes/img/the-mental-training-guide-for-elite-athletes-thumb.jpg')}
#crazy-love-img{background-image:url('reading/crazy-love/img/crazy-love-thumb.jpg')}
#authentic-faith-img{background-image:url('reading/authentic-faith/img/authentic-faith-thumb.jpg')}
#the-pilgrim-s-progress-img{background-image:url('reading/the-pilgrim-s-progress/img/the-pilgrim-s-progress-thumb.jpg')}
#ielts-listening-raise-your-score-img{background-image:url('reading/ielts-listening-raise-your-score/img/ielts-listening-raise-your-score-thumb.jpg')}
#mind-gym-img{background-image:url('reading/mind-gym/img/mind-gym-thumb.jpg')}
#man-s-search-for-meaning-img{background-image:url('reading/man-s-search-for-meaning/img/man-s-search-for-meaning-thumb.jpg')}
#it-starts-with-passion-img{background-image:url('reading/it-starts-with-passion/img/it-starts-with-passion-thumb.jpg')}
#own-it-love-it-make-it-work-img{background-image:url('reading/own-it-love-it-make-it-work/img/own-it-love-it-make-it-work-thumb.jpg')}
#pragmatic-programmer-img{background-image:url('reading/pragmatic-programmer/img/pragmatic-programmer-thumb.jpg')}
#moving-to-canada-img{background-image:url('reading/moving-to-canada/img/moving-to-canada-thumb.jpg')}
#immigrating-to-canada-img{background-image:url('reading/immigrating-to-canada/img/immigrating-to-canada-thumb.jpg')}
#immigrate-to-canada-img{background-image:url('reading/immigrate-to-canada/img/immigrate-to-canada-thumb.jpg')}
#modern-scala-projects-img{background-image:url('reading/modern-scala-projects/img/modern-scala-projects-thumb.jpg')}
#emotional-intelligence-dummies-img{background-image:url('reading/emotional-intelligence-dummies/img/emotional-intelligence-dummies-thumb.jpg')}
#sacred-marriage-img{background-image:url('reading/sacred-marriage/img/sacred-marriage-thumb.jpg')}
#software-engineering-scratch-img{background-image:url('reading/software-engineering-scratch/img/software-engineering-scratch-thumb.jpg')}
#success-habits-dummies-zeller-img{background-image:url('reading/success-habits-dummies-zeller/img/success-habits-dummies-zeller-thumb.jpg')}
#niv-holy-bible-img{background-image:url('reading/niv-holy-bible/img/niv-holy-bible-thumb.jpg')}
#get-programming-scala-img{background-image:url('reading/get-programming-scala/img/get-programming-scala-thumb.jpg')}
#programming-scala-3rd-img{background-image:url('reading/programming-scala-3rd/img/programming-scala-3rd-thumb.jpg')}
#scala-programming-projects-img{background-image:url('reading/scala-programming-projects/img/scala-programming-projects-thumb.jpg')}
#book-10-000-hours-become-practice-img{background-image:url('reading/10-000-hours-become-practice/img/10-000-hours-become-practice-thumb.jpg')}
#pragmatic-scala-img{background-image:url('reading/pragmatic-scala/img/pragmatic-scala-thumb.jpg')}
#scala-for-the-impatient-second-edition-img{background-image:url('reading/scala-for-the-impatient-second-edition/img/scala-for-the-impatient-second-edition-thumb.jpg')}
#outliers-malcolm-gladwell-img{background-image:url('reading/outliers-malcolm-gladwell/img/outliers-malcolm-gladwell-thumb.jpg')}
#learning-spark-2nd-img{background-image:url('reading/learning-spark-2nd/img/learning-spark-2nd-thumb.jpg')}
#apache-spark-quick-img{background-image:url('reading/apache-spark-quick/img/apache-spark-quick-thumb.jpg')}
#wordpress-5-complete-img{background-image:url('reading/wordpress-5-complete/img/wordpress-5-complete-thumb.jpg')}
#the-power-of-habit-img{background-image:url('reading/the-power-of-habit/img/the-power-of-habit-thumb.jpg')}
#niv-gospel-john-devotional-notes-img{background-image:url('reading/niv-gospel-john-devotional-notes/img/niv-gospel-john-devotional-notes-thumb.jpg')}
#the-logic-of-god-img{background-image:url('reading/the-logic-of-god/img/the-logic-of-god-thumb.jpg')}
#ab-testing-the-img{background-image:url('reading/ab-testing-the/img/ab-testing-the-thumb.jpeg')}
#personal-branding-for-img{background-image:url('reading/personal-branding-for/img/personal-branding-for-thumb.jpeg')}
#income-investing-an-img{background-image:url('reading/income-investing-an/img/income-investing-an-thumb.jpeg')}
#scaling-up-companies-rockefeller-habits-img{background-image:url('reading/scaling-up-companies-rockefeller-habits/img/scaling-up-companies-rockefeller-habits-thumb.jpg')}
#google-speaks-secrets-img{background-image:url('reading/google-speaks-secrets/img/google-speaks-secrets-thumb.jpeg')}
#twitter-101-everything-img{background-image:url('reading/twitter-101-everything/img/twitter-101-everything-thumb.jpeg')}
#born-to-blog-img{background-image:url('reading/born-to-blog/img/born-to-blog-thumb.jpeg')}
#success-in-programming-img{background-image:url('reading/success-in-programming/img/success-in-programming-thumb.jpeg')}
#teaching-genesis-38-lesson-img{background-image:url('teaching/genesis-38-lesson/img/genesis-38-lesson-thumb.jpg')}
#teaching-genesis-36-lesson-img{background-image:url('teaching/genesis-36-lesson/img/genesis-36-lesson-thumb.jpg')}
#jaimemontoya\.com-img{background-image:url('portfolio/jaimemontoya.com/img/jaimemontoya.com-thumb.jpg')}
#american-prometheus-img{background-image:url('american-prometheus/img/american-prometheus-thumb.jpg')}
#mfh-elsalvador\.org-img{background-image:url('portfolio/mfh-elsalvador.org/img/mfh-elsalvador.org-thumb.jpg')}
#unionchurchss\.org-img{background-image:url('portfolio/unionchurchss.org/img/unionchurchss.org-thumb.jpg')}
#investment-spreadsheet{margin:0;border:0;width:100%;min-height:500px}
#opinion-spreadsheet{margin:0;border:0;width:100%;min-height:300px}
h1{line-height:35px;font-size:2.5em;padding:0;margin:0;font:normal 35px/55px Guardian Text Sans}
h2{line-height:35px;font-size:1.5em;padding:0;margin:0 0 10px;font:normal 20px/20px Guardian Text Sans}
footer{text-align:center;padding:10px 0 15px}
footer a{color:#fff;text-decoration:underline}
footer a:hover{color:#fff}
