body{padding:0;color:#000}
header{text-align:center;background:#000}
p{margin:10px 0 13px}
.container{padding: 0 14px}
.logo{padding-top:15px}
.logo a{font:20px/20px Carter One;color:#fff;text-decoration:none;font-size:35px}
nav{background:#000}
nav ul{list-style-type:none;margin:0}
nav li{display:inline-block;font-size:14px;color:#afafaf}
nav li a{display:block;color:#fff;text-align:center;padding:5px 25px;text-decoration:none}
nav li a:hover{color:#afafaf;background-color:#000;text-decoration:none}
.center{text-align:center}
.book{display:flex;flex-direction:row;margin-top:14px}
.book .book-thumbnail{text-decoration:none}
.book > .book-thumbnail:first-child{display:flex;align-self:center;flex-basis:49%;height:137px;max-width:88px}
.book-cover{align-items:center;background-color:transparent;background-repeat:no-repeat;background-size:contain;display:flex;flex:0 1 auto;justify-content:center;max-height:144px;max-width:84px;min-width:84px;position:relative;width:100%;}
.book-title-authors-read-by{flex-grow:2;margin-left:16px;padding-top:10px}
.book-title-authors-read-by span{display:inline-block;font:20px/20px Guardian Text Sans;font-weight:500;margin-bottom:8px;margin-top:0;color:#000}
.book-title-authors-read-by p{color:#000000;font:12px/14px Guardian Text Sans\ 2,sans-serif;margin-top:0}
#get-programming-scala-img{background-image:url('get-programming-scala/img/get-programming-scala-thumb.jfif')}
#scala-programming-projects-img{background-image:url('scala-programming-projects/img/scala-programming-projects-thumb.jpg')}
#success-habits-dummies-zeller-img{background-image:url('success-habits-dummies-zeller/img/success-habits-dummies-zeller-thumb.png')}
#lightbend-scala-language-professional-img{background-image:url('lightbend-scala-language-professional/img/lightbend-scala-language-professional-thumb.jpg')}
#niv-holy-bible-img{background-image:url('niv-holy-bible/img/niv-holy-bible-thumb.jpg')}
#book-10-000-hours-become-practice-img{background-image:url('10-000-hours-become-practice/img/10-000-hours-become-practice-thumb.png')}
#pragmatic-scala-img{background-image:url('pragmatic-scala/img/pragmatic-scala-thumb.jpg')}
#scala-for-the-impatient-second-edition-img{background-image:url('scala-for-the-impatient-second-edition/img/scala-for-the-impatient-second-edition-thumb.jpg')}
#outliers-malcolm-gladwell-img{background-image:url('outliers-malcolm-gladwell/img/outliers-malcolm-gladwell-thumb.jpg')}
#learning-spark-2nd-img{background-image:url('learning-spark-2nd/img/learning-spark-2nd-thumb.jpg')}
#apache-spark-quick-img{background-image:url('apache-spark-quick/img/apache-spark-quick-thumb.jpg')}
#wordpress-5-complete-img{background-image:url('wordpress-5-complete/img/wordpress-5-complete-thumb.png')}
#the-power-of-habit-img{background-image:url('the-power-of-habit/img/the-power-of-habit-thumb.jpg')}
#niv-gospel-john-devotional-notes-img{background-image:url('niv-gospel-john-devotional-notes/img/niv-gospel-john-devotional-notes-thumb.jpg')}
#place-participant-guide-img{background-image:url('place-participant-guide/img/place-participant-guide-thumb.jpg')}
#the-lambs-supper-the-mass-as-heaven-on-earth-img{background-image:url('the-lambs-supper-the-mass-as-heaven-on-earth/img/the-lambs-supper-the-mass-as-heaven-on-earth-thumb.jpg')}
#the-logic-of-god-img{background-image:url('the-logic-of-god/img/the-logic-of-god-thumb.jpg')}
#ab-testing-the-img{background-image:url('ab-testing-the/img/ab-testing-the-thumb.jpeg')}
#personal-branding-for-img{background-image:url('personal-branding-for/img/personal-branding-for-thumb.jpeg')}
#income-investing-an-img{background-image:url('income-investing-an/img/income-investing-an-thumb.jpeg')}
#wharton-marketing-img{background-image:url('wharton-marketing/img/wharton-marketing-thumb.png')}
#scaling-up-companies-rockefeller-habits-img{background-image:url('scaling-up-companies-rockefeller-habits/img/scaling-up-companies-rockefeller-habits-thumb.png')}
#google-speaks-secrets-img{background-image:url('google-speaks-secrets/img/google-speaks-secrets-thumb.jpeg')}
#twitter-101-everything-img{background-image:url('twitter-101-everything/img/twitter-101-everything-thumb.jpeg')}
#born-to-blog-img{background-image:url('born-to-blog/img/born-to-blog-thumb.jpeg')}
#success-in-programming-img{background-image:url('success-in-programming/img/success-in-programming-thumb.jpeg')}
#programming-scala-3rd-img{background-image:url('programming-scala-3rd/img/programming-scala-3rd-thumb.jfif')}
#esv-holy-bible-img{background-image:url('esv-holy-bible/img/esv-holy-bible-thumb.jpg')}
#emotional-intelligence-dummies-img{background-image:url('emotional-intelligence-dummies/img/emotional-intelligence-dummies-thumb.jpg')}
#software-engineering-scratch-img{background-image:url('software-engineering-scratch/img/software-engineering-scratch-thumb.jpg')}
#modern-scala-projects-img{background-image:url('modern-scala-projects/img/modern-scala-projects-thumb.jpg')}
#sacred-marriage-img{background-image:url('sacred-marriage/img/sacred-marriage-thumb.jpg')}
#scala-design-patterns-img{background-image:url('scala-design-patterns/img/scala-design-patterns-thumb.jpg')}
#personal-finance-in-img{background-image:url('personal-finance-in/img/personal-finance-in-thumb.jpg')}
#immigrate-to-canada-img{background-image:url('immigrate-to-canada/img/immigrate-to-canada-thumb.jpg')}
#immigrating-to-canada-img{background-image:url('immigrating-to-canada/img/immigrating-to-canada-thumb.jpg')}
#moving-to-canada-img{background-image:url('moving-to-canada/img/moving-to-canada-thumb.jpg')}
#pragmatic-programmer-img{background-image:url('pragmatic-programmer/img/pragmatic-programmer-thumb.jpg')}
#own-it-love-it-make-it-work-img{background-image:url('own-it-love-it-make-it-work/img/own-it-love-it-make-it-work-thumb.jpg')}
#it-starts-with-passion-img{background-image:url('it-starts-with-passion/img/it-starts-with-passion-thumb.jpg')}
#the-hidden-history-of-monopolies-img{background-image:url('the-hidden-history-of-monopolies/img/the-hidden-history-of-monopolies-thumb.jpg')}
#man-s-search-for-meaning-img{background-image:url('man-s-search-for-meaning/img/man-s-search-for-meaning-thumb.jpg')}
#the-holy-bible-esv-img{background-image:url('the-holy-bible-esv/img/the-holy-bible-esv-thumb.jpg')}
#mind-gym-img{background-image:url('mind-gym/img/mind-gym-thumb.jpg')}
#ielts-listening-raise-your-score-img{background-image:url('ielts-listening-raise-your-score/img/ielts-listening-raise-your-score-thumb.jpg')}
#ielts-reading-and-listening-img{background-image:url('ielts-reading-and-listening/img/ielts-reading-and-listening-thumb.jpg')}
h1{line-height:35px;font-size:2.5em;padding:0;margin:0;font:normal 35px/55px Guardian Text Sans}
h2{line-height:35px;font-size:1.5em;padding:0;margin:0 0 10px;font:normal 20px/20px Guardian Text Sans}
#resume-container{max-width:525.6pt;margin:0 auto}
#calendar, #resume{margin-top:14px;border:0}
footer{text-align:center;padding:10px 0 15px}
