body{padding:0;color:#000}
header{text-align:center;background:#000}
.container{padding: 0 14px}
.logo{padding-top:15px}
.logo a{font:20px/20px Carter One;color:#fff;text-decoration:none;font-size:35px}
nav{background:#000}
nav ul{list-style-type:none;margin:0}
nav li{display:inline-block;font-size:12px;color:#afafaf}
nav li a{display:block;color:#fff;text-align:center;padding:5px 16px;text-decoration:none}
nav li a:hover:not(.active){color:#afafaf;background-color:#000;text-decoration:none}
nav li a.active{background:#000}
.active-button{padding-right:16px}
.book{display:flex;flex-direction:row;margin-top:14px}
.book a{text-decoration:none}
.book > a:first-child{display:flex;align-self:center;flex-basis:49%;height:137px;max-width:88px}
.book-cover{align-items:center;background-color:transparent;background-repeat:no-repeat;background-size:contain;display:flex;flex:0 1 auto;justify-content:center;max-height:144px;max-width:84px;min-width:84px;position:relative;width:100%;}
.book-title-authors-read-by{flex-grow:2;margin-left:16px;padding-top:10px}
.book-title-authors-read-by span{display:inline-block;font:20px/20px Guardian Text Sans,sans-serif;font-weight:500;margin-bottom:8px;margin-top:0;color:#000}
.book-title-authors-read-by p{color:#000000;font:12px/14px Guardian Text Sans\ 2,sans-serif;margin-top:0}
.book-metadata{normal 35px/55px Roboto;padding:0;flex-grow:2;margin-left:16px}
.book-metadata span{display:inline-block;font:20px/20px Guardian Text Sans,sans-serif;font-weight:500;margin-bottom:8px;margin-top:0;color:#000}
.book-metadata p{color:#000000;font:12px/14px Guardian Text Sans\ 2,sans-serif;margin-top:0}
.book-metadata a{color:red}
#scala-programming-projects-img{background-image:url('scala-programming-projects/img/scala-programming-projects-thumb.jpg')}
#success-habits-dummies-zeller-img{background-image:url('success-habits-dummies-zeller/img/success-habits-dummies-zeller-thumb.png')}
#lightbend-scala-language-professional-img{background-image:url('lightbend-scala-language-professional/img/lightbend-scala-language-professional-thumb.jpg')}
#book-10-000-hours-become-practice-img{background-image:url('10-000-hours-become-practice/img/10-000-hours-become-practice-thumb.png')}
#pragmatic-scala-img{background-image:url('pragmatic-scala/img/pragmatic-scala-thumb.jpg')}
#scala-for-the-impatient-second-edition-img{background-image:url('scala-for-the-impatient-second-edition/img/scala-for-the-impatient-second-edition-thumb.jpg')}
#outliers-malcolm-gladwell-img{background-image:url('outliers-malcolm-gladwell/img/outliers-malcolm-gladwell-thumb.jpg')}
#learning-spark-2nd-img{background-image:url('learning-spark-2nd/img/learning-spark-2nd-thumb.jpg')}
#apache-spark-quick-img{background-image:url('apache-spark-quick/img/apache-spark-quick-thumb.jpg')}
#wordpress-5-complete-img{background-image:url('wordpress-5-complete/img/wordpress-5-complete-thumb.png')}
#the-power-of-habit-img{background-image:url('the-power-of-habit/img/the-power-of-habit-thumb.jpg')}
#niv-gospel-john-devotional-notes-img{background-image:url('niv-gospel-john-devotional-notes/img/niv-gospel-john-devotional-notes-thumb.jpg')}
#place-participant-guide-img{background-image:url('place-participant-guide/img/place-participant-guide-thumb.jpg')}
#the-lambs-supper-the-mass-as-heaven-on-earth-img{background-image:url('the-lambs-supper-the-mass-as-heaven-on-earth/img/the-lambs-supper-the-mass-as-heaven-on-earth-thumb.jpg')}
#the-logic-of-god-img{background-image:url('the-logic-of-god/img/the-logic-of-god-thumb.jpg')}
#ab-testing-the-img{background-image:url('ab-testing-the/img/ab-testing-the-thumb.jpeg')}
#personal-branding-for-img{background-image:url('personal-branding-for/img/personal-branding-for-thumb.jpeg')}
#income-investing-an-img{background-image:url('income-investing-an/img/income-investing-an-thumb.jpeg')}
#wharton-marketing-img{background-image:url('wharton-marketing/img/wharton-marketing-thumb.png')}
#scaling-up-companies-rockefeller-habits-img{background-image:url('scaling-up-companies-rockefeller-habits/img/scaling-up-companies-rockefeller-habits-thumb.png')}
#google-speaks-secrets-img{background-image:url('google-speaks-secrets/img/google-speaks-secrets-thumb.jpeg')}
#twitter-101-everything-img{background-image:url('twitter-101-everything/img/twitter-101-everything-thumb.jpeg')}
#born-to-blog-img{background-image:url('born-to-blog/img/born-to-blog-thumb.jpeg')}
#success-in-programming-img{background-image:url('success-in-programming/img/success-in-programming-thumb.jpeg')}
h1{line-height:35px;font-size:2.5em;padding:0;margin:0;font:normal 35px/55px Roboto}
.no-margin-nor-padding{margin:0;padding:0}
footer{text-align:center;padding:10px 0 15px}